h1 {
    color:blue;
    padding-top:5px;
    padding-left: 5px;
}
body {
    background: rgb(136, 255, 0);
    color:whitesmoke;
}
div {
    color:black;
}
tr {
    background: whitesmoke;
}
td {
    background: whitesmoke;
}
table {
    color: black
}